.bgmenu2{
    background-image: linear-gradient(to bottom, rgb(255, 255, 255),white);
 padding-bottom: 6%;
}
.divindia{
    width: 1330px;
    height: 400px;
    /* border: 3px solid black; */
    margin-left: 1%;
}
.Indiabg{
 float: left;
 margin-left: 1%;
 margin-right: 3%;

}
p{
   padding: 1%;
   font-size: 18px;
   font-style: italic;
}
.group{
    background-color: #ffffff;
    width: 1000px;
    margin-left: 12%;
   
}
.elements,.img{
    background-color: white;
    display: inline-block;
    margin:2%;
    padding: 1%;
}
.elements:hover{
    transform: scale(1.1);
}
.h4{
    color: black;
    text-align: center;
}
.h4:hover{
    color: rgb(28, 140, 8);
}
.img:hover{
  opacity: 60%;
}